@import "../../../../shared/styles/variables";

.rv-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background;
}

.rv-main {
  flex: 1;
  min-height: 77vh;
  display: flex;
}

.rv-container {
  margin: auto;
  width: 80%;
  padding: 5rem 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 24px;

  h2{
    margin: 0;
    font-size: 23px;
    font-weight: 500;
    word-spacing: 3px;
    color: $primary-navy;
  }

  h1 {
    margin: 0;
    font-size: 44px;
    font-weight: 600;
    color: $primary-navy;
  }

  p {
    margin: 0;
    font-weight: 500;
    font-size: 28px;
    color: $text-light;
  }
}

/* Loader wrapper when fetching proofs */
.rv-loader {
  align-items: center;
}

.rv-warn {
  width: 60% !important;
  margin: auto;
  padding: 80px 10px;
}

@media (max-width: $breakpoint-md) {
  .rv-warn {
    width: 100% !important;
    padding: 40px 16px;
  }
}

/* Tarjeta ocupa todo el ancho */
.rv-card {
  width: 100%;
  background-color: $background-secondary;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.217);
}

.rv-card-header {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 15px 30px;
  h2 {
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: 700;
    color: $primary-navy;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 0px;
    color: $text-light;
  }
}

/* Cuerpo con dos columnas */
.rv-body {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 25px 25px 25px 30px;
  border-top: 1px $primary-navy solid 0.5;
}

/* Columna izquierda */
.rv-left {
  flex: 1 1 auto;
  border: 10px $primary-navy solid 1;

  .rv-msg {
    margin: 0 0 16px 0;
    white-space: pre-wrap;
    font-size: 1rem;
  }
}

/* Columna derecha: botones uno debajo del otro */
.rv-actions {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  gap: 12px;
  align-items: stretch; /* botones mismo ancho */

  button {
    width: 140px;
    font-size: 18px;
  }
}

/* Opcional: responsivo – en móviles apila columnas */
@media (max-width: 600px) {
  .rv-body {
    flex-direction: column;
    align-items: stretch;
  }

  .rv-vline {
    display: none;
  }

  .rv-actions {
    flex-direction: row;
    justify-content: flex-end;
  }
}
