@import '../../../../shared/styles/variables'; 

.snack-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  width: 100%;
  padding: 8px 6px;
}

.snack-icon {
  font-size: 22px;
  width: 22px;
  height: 22px;
}
