@import '../../../../../shared/styles/variables';

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 32px;                  /* separación vertical entre campos  */
}

/* filas de dos columnas: nombre/apellido, password/confirm, etc.   */
.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;  /* una sola columna en tablets     */
    gap: 26px !important;
  }

  @media (max-width: 600px) {
    gap: 18px !important;
  }

  @media (max-width: 480px) {
    gap: 18px !important;
  }
}

/* Ajustes específicos para móviles */
@media (max-width: 900px) {
  .auth-form {
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .auth-form {
    gap: 18px !important;
  }
}