@import "../../../../shared/styles/variables";

$btn-h: 34px;
$btn-w: 148px;

.cat-btn {
  padding: 0 12px;
  width: $btn-w;
  height: $btn-h;
  border-radius: 6px; /* “más cuadrados”   */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  transition: background 0.25s;

  mat-icon {
    font-size: 20px;
  }
}

/* ── botón lleno ──────────────────────────────────────────────── */
.cat-btn--filled {
  background: #103f71a1;
  color: $white;

  .cat-clear {
    margin-left: auto;
  } /* empuja la X a la derecha */
  &:hover {
    background: darken(#0b2745, 8%);
  }
}

/* ── botón vacío “+” ──────────────────────────────────────────── */
.cat-btn--empty {
  background: #103f71a1;
  color: $white;

  mat-icon {
    font-size: 24px;
  }
  &:hover {
    background: darken(#0b2745, 8%);
  }
}

/* texto con corte elíptico si es largo */
.cat-label {
  flex: 1 1 auto;
  min-width: 0; /* necesario para elipsis dentro de flex */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cat-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none; /* opcional, refuerza "no clickeable" */
}

/* si quieres un hover distinto solo cuando NO esté disabled */
.cat-btn:not(:disabled):hover {
  /* tu color de hover anterior */
  background: rgba($primary-navy, 0.8);
}

/* ---------- Responsive (celu/tablet más chico) ---------- */
@media (max-width: 900px) {
  .cat-btn {
  width: 140px;
  height: 32px;
  padding: 0 10px;
  gap: 6px;
    font-size: 0.85rem;
    mat-icon { font-size: 19px; }
  }
  .cat-btn--empty mat-icon { font-size: 22px; }
}

@media (max-width: 768px) {
  .cat-btn {
  width: 130px;
  height: 30px;
  padding: 0 8px;
    gap: 6px;
    font-size: 0.82rem;
    mat-icon { font-size: 18px; }
  }
  .cat-btn--empty mat-icon { font-size: 21px; }
}

@media (max-width: 480px) {
  .cat-btn {
  width: 118px;
  height: 28px;
  padding: 0 6px;
    gap: 6px;
    font-size: 0.8rem;
    mat-icon { font-size: 18px; }
  }
  .cat-btn--empty mat-icon { font-size: 20px; }
}
