<form class="filters-form" [formGroup]="form" (keydown.enter)="emitFilters()">
  <!-- Buscar + Acciones -->
  <div class="search-actions-row">
    <app-form-field
      type="text"
      label="Buscar artículos"
      placeholder="¿Qué buscas?"
      formControlName="searchTerm"
      [maxLength]="30"
      [hasError]="
        form.get('searchTerm')!.hasError('maxlength') &&
        form.get('searchTerm')!.touched
      "
      errorMessage="Máximo 30 caracteres"
    ></app-form-field>

    <div class="actions-bar">
      <button
        mat-stroked-button
        class="reset-btn"
        type="button"
        (click)="reset()"
        aria-label="Limpiar filtros"
      >
        <mat-icon class="btn-icon">close</mat-icon>
        <span class="btn-label">Limpiar</span>
      </button>

      <button
        mat-flat-button
        type="button"
        class="apply-btn"
        (click)="emitFilters()"
        aria-label="Aplicar filtros"
      >
        <mat-icon class="btn-icon">filter_list</mat-icon>
        <span class="btn-label">Filtrar</span>
      </button>
    </div>
  </div>
  <hr class="section-divider" />

  <!-- Condición -->
  <app-form-field
    type="radio"
    label="Condición"
    placeholder="Elige uno"
    [options]="conditionOptions"
    formControlName="conditionFilter"
  ></app-form-field>

  <hr class="section-divider" />

  <!-- Precio -->
  <div class="price-range">
    <app-form-field
      type="money"
      label="Precio mínimo"
      placeholder="999"
      formControlName="minPrice"
      [hasError]="
        (form.get('minPrice')!.invalid && form.get('minPrice')!.touched) ||
        form.get('minPrice')!.hasError('pattern')
      "
      [errorMessage]="
        form.get('minPrice')!.hasError('pattern')
          ? 'Debe ser un número'
          : 'Entre 1 y 99 999 999'
      "
    ></app-form-field>

    <app-form-field
      type="money"
      label="Precio máximo"
      placeholder="999"
      formControlName="maxPrice"
      [hasError]="
        (form.get('maxPrice')!.invalid && form.get('maxPrice')!.touched) ||
        form.get('maxPrice')!.hasError('pattern')
      "
      [errorMessage]="
        form.get('maxPrice')!.hasError('pattern')
          ? 'Debe ser un número'
          : 'Entre 1 y 99 999 999'
      "
    ></app-form-field>
  </div>

  <hr class="section-divider" />

  <!-- Distancia -->
  <app-form-field
    type="radio"
    label="Distancia"
    placeholder="Elige uno"
    [options]="distanceOptions"
    formControlName="maxDistanceKm"
  ></app-form-field>

  <hr class="section-divider" />

  <!-- Tipo -->
  <app-form-field
    type="select"
    label="Tipo"
    placeholder="Selecciona tipo"
    [options]="typesOptions"
    formControlName="type"
  ></app-form-field>

  <hr class="section-divider" />

  <!-- Barrio -->
  <app-form-field
    type="select"
    label="Barrio"
    placeholder="Selecciona barrio"
    [options]="countryOptions"
    formControlName="countryId"
  ></app-form-field>

  <hr class="section-divider" />

  <!-- Marca -->
  <app-form-field
    type="text"
    label="Marca"
    placeholder="p.ej. Nike"
    formControlName="brandFilter"
  ></app-form-field>

  <hr class="section-divider" />

  <!-- Fecha de publicación -->
  <div class="date-range">
    <app-form-field
      type="date"
      label="Desde"
      placeholder="dd/mm/aaaa"
      formControlName="createdFrom"
      [hasError]="
        form.get('createdFrom')!.hasError('invalidDate') &&
        form.get('createdFrom')!.touched
      "
      errorMessage="Fecha inválida"
    ></app-form-field>

    <app-form-field
      type="date"
      label="Hasta"
      placeholder="dd/mm/aaaa"
      formControlName="createdTo"
      [hasError]="
        form.get('createdTo')!.hasError('invalidDate') &&
        form.get('createdTo')!.touched
      "
      errorMessage="Fecha inválida"
    ></app-form-field>
  </div>

  <hr class="section-divider" />

  <!-- Medios de pago -->
  <div class="payment-methods">
    <app-form-field type="checkbox" formControlName="acceptsCash"
      >Efectivo</app-form-field
    >
    <app-form-field type="checkbox" formControlName="acceptsCard"
      >Tarjeta</app-form-field
    >
    <app-form-field type="checkbox" formControlName="acceptsTransfer"
      >Transferencia</app-form-field
    >
    <app-form-field type="checkbox" formControlName="acceptsBarter"
      >Trueque</app-form-field
    >
  </div>

  <hr class="section-divider" />
</form>
