<!-- list-categories.component.html -->
<div
  class="categories-pane"
  [ngClass]="{
    'has-parent': parentId,
    'orientation-left': orientation === 'left',
    'orientation-right': orientation === 'right'
  }"
>
  <!-- ① cuerpo scrolleable -->
  <div class="scroll-body">
    <ng-container *ngFor="let cat of categories">
      <div class="category-item" (click)="select(cat)">
        <span class="label">{{ cat.name }}</span>

        <button
          *ngIf="hasChild(cat)"
          type="button"
          class="expand-btn"
          (click)="toggleExpand(cat); $event.stopPropagation()"
        >
          <mat-icon>
            {{
              expandedMap[cat.id]
                ? orientation === 'left'
                  ? 'chevron_right'
                  : 'chevron_left'
                : orientation === 'left'
                ? 'chevron_left'
                : 'chevron_right'
            }}
          </mat-icon>
        </button>
      </div>

      <!-- sub-panel -->
      <ng-container *ngIf="expandedMap[cat.id]">
        <app-list-categories
          class="submenu"
          [parentId]="cat.id"
          [path]="path ? path + '>' + cat.id : cat.id"
          [orientation]="orientation"
          (categorySelected)="categorySelected.emit($event)"
        >
        </app-list-categories>
      </ng-container>
    </ng-container>
  </div>
</div>
